$color:#1d1d1d #c7c7c7 #ea0002;
$font-size:12px 14px 17px 18px 20px 24px;

.whiteBtn,.blackBtn{
	display:block;
	width:140px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:16px;
	transition:all 0.5s;
}
.btnSmall{
	width:100px;
	height:30px;
	line-height:30px;
}

.whiteBtn{
	border:1px solid white;
	color:white !important;
	
	&:hover{
		background-color:white;
		color:nth($color,1) !important;
	}
}

.blackBtn{
	border:1px solid nth($color,1);
	color:nth($color,1) !important;

	&:hover{
		background-color:nth($color,1) !important;
		color:white !important;
	}
}

.header-top{

	font-size:nth($font-size,2);
	color:white;
	background-color: nth($color,1);
	height:34px;
	display:flex;
	
	li{
		line-height:34px;
		padding:0 30px;

		a{
			color:white;

			i{
				font-size:nth($font-size,4);
				padding:0 5px;
			}
		}
	}
	li:nth-child(1){
		flex:1;
	}

}
header{
	width:100%;
}
nav{
	width:100%;
	height:60px;
	position:relative;
	border:1px solid #c7c7c7;
	background-color:white;
	&.fixed{
		position:fixed;
		top:0;
		left:0;
		z-index:10000;
	}

	.logo{
		height:60px;
		width:60px;
		float:left;
		img{
			width:60px;
		}
	}

	.nav{
		float:left;
		height:60px;
		font-size:nth($font-size,3);

		>li{
			height:60px;
			float:left;
			line-height:60px;
			font-size:nth($font-size,4);
			margin-left:40px;
			

			a{
				color:nth($color,1);
			}
			&:hover{
				border-bottom:2px solid nth($color,3);
				>a{
					color:nth($color,3);
				}
			}
			.navHover{
				position:absolute;
				top:60px;
				left:0;
				z-index:10;
				width:100%;
				background-color:white;
				padding-top:20px;
				padding-bottom:40px;
				//display:flex;
				display:none;

				.navWarp{
					margin-left:100px;
					display:flex;
					justify-content:space-between;
					ul{
						margin-right:20px;
						min-width:80px;
						li{
							width:100%;
							font-size:12px;
							height:20px;
							line-height:20px;
							margin-bottom:20px;

							&:hover a{
								color:nth($color,3);
							}
							&:first-child{
								font-size:16px;
							}
						}
					}
				}

				.imgWrap{
					flex:1;
					margin-right:20px;
					display:flex;
					flex-wrap:wrap;
					dl{
						flex:1;
						max-width:220px;
						min-width:25%;
						margin-left:30px;
						margin-bottom:10px;
						dt{
							position:relative;
							overflow:hidden;
							width:100%;
							//height:150px;
							a{
								img{
									width:100%;
								}
							}
							.btn{
								position:absolute;
								top:0;
								left:0;
								bottom:0;
								right:0;
								margin:auto;
								opacity:0;
							}
						}
						dd{
							font-size:16px;
							height:20px;
							line-height:20px;
							text-align:center;
							color:nth($color,1);
							margin-top:-10px;
						}
						&:hover{
							opacity:.9;
						}
						&:hover .btn{
							opacity:1;
							transition:all 0.5s;
						}
						
					}
				}
			}
			&:hover .navHover{
				display:flex;
			}
			.hot{
				.imgWrap{
					flex-wrap:nowrap;
					dl{
						min-width:0;
					}
				}
			}

			.man,.woman,.child{
				.navWarp{
					ul{
						li{
							margin-bottom:10px;
						}
					}
				}
				.imgWrap{
					margin-right:100px;
					dl{
						font-size:12px;
					}
				}
			}
			.child{
				.navWarp{
					width:500px;
				}
			}
			.brand{
				.imgWrap{
					justify-content:center;
					dl{
						max-width:150px;
					}
					

				}
			}

		}
	}

	.nav-right{
		float:right;
		height:50px;
		font-size:nth($font-size,1);
		margin-top:12px;
		margin-right:20px;
		//overflow:hidden;

		>li{
			margin-right:40px;
			height:36px;
			line-height:36px;
			float:left;
			font-size:14px;

			//搜索框
			&:nth-child(1){
				height:34px;
				border:1px solid nth($color,2);

				i{
					padding:0 10px;
					font-size:nth($font-size,5);
				}
				
				input{
					width:70px;
					border:none;
					margin-left:10px;
					transition:width 0.5s;
					
				}
				&:hover input{
					width:170px;
				}
			}
			// 登录注册
			&:nth-child(2){
				display:none;
				margin-right:10px;
				a{
					padding:0 8px;
					color:nth($color,1);

					i{
						font-size:nth($font-size,5)
					}

					&:nth-child(1){
						padding:0;
					}
					&:nth-child(3){
						padding-right:0;
					}


				}
			}
			//个人中心
			&.userContainer{
				max-width:80px;
				position:relative;
				overflow:visible;
				margin-right:10px;
				a{
					display:inline-block;
					width:100%;
					height:100%;
					overflow:hidden;
					white-space:nowrap;
					text-overflow:ellipsis;
					color:nth($color,1);
					i{
						margin-right:10px;
						font-size:22px;
					}
				}
				ol{
					position:absolute;
					display:none;
					top:36px;
					left:-20px;
					z-index:100;
					padding-top:20px;
					width:120px;
					background-color:white;
					li{
						width:100%;
						text-align:center;
						margin:0 auto;
						margin-bottom:10px;
						border:none;
						&:hover a{
							color:red;
						}
					}
				}
				&:hover ol{
					display:block;
				}
			}

			//购物车
			&:nth-child(4){
				padding-right:10px;
				padding-left:30px;
				position:relative;
				height:100%;
				a{
					padding-right: 8px;
					color:nth($color,1);

					i{
						font-size:nth($font-size,5)
					}
					span{
						position:absolute;
						top:0;
						right:0;
						width:15px;
						height:15px;
						text-align:center;
						line-height:15px;
						border-radius:50%;
						background-color:red;
						color:white;
						font-size:12px;
					}
				}

				// 预览购物车 
				.smallCart{
					display:none;
					position:absolute;
					top:48px;
					right:-55px;
					width:370px;
					z-index:100000;
					max-height:485px;
					border:1px solid #c7c7c7;
					border-right:0;
					overflow:hidden;
					background-color:white;

					ul{
						max-height:340px;
						overflow:auto;
						padding:20px;
						padding-bottom:0;
						box-sizing:border-box;
						>li{
							overflow:hidden;
							margin-bottom:28px;
							position:relative;
							.shopImg{
								float:left;
								width:100px;
								height:120px;
								margin-right:20px;
								border:1px solid #c7c7c7;
								overflow:hidden;

								img{
									widht:100px;
									height:120px;
								}
							}
							.shopInfo{
								float:left;
								font-size:14px;
								width:150px;

								h5{
									color:#1d1d1d;
									height:18px;
									line-height:18px;
									margin-bottom:15px;
									overflow:hidden;
									white-space:nowrap;
									text-overflow:ellipsis;
								}
								ol{
									li{
										color:#c7c7c7;
										height:22px;
										line-height:22px;
										font{
											color:#1d1d1d;
										}
									}
								}

								.delBtn{
									position:absolute;
									right:0;
									bottom:-5px;
									color:#c7c7c7;
									text-decoration:underline;
									cursor:pointer;
								}
							}
						}
					}

					.allInfo{
						border-top:1px solid #1d1d1d;
						padding:20px 20px;
						display:flex;
						justify-content:space-between;
						font-size:12px;
						h6{
							span{
								color:#ea212e;
							}
						}
					}
					.goCartBtn{
						display:block;
						width:340px;
						height:44px;
						line-height:44px;
						margin-left:20px;
						margin-bottom:20px;
						text-align:center;
						background-color:#ea212e;
						color:white;
						font-size:12px;
					}

				}
			}
		}
	}

}