
.banner{
	height:560px;
	width:100%;

	.swiper-container{
		.swiper-slide{
			position:relative;

			img{
				height:560px;
				width:100%;
			}

			//立即购买按钮
			.btn{
				position:absolute;
				bottom:60px;
				left:65%;
			}
		}
		
		.swiper-pagination{
			bottom:40px;
			.swiper-pagination-bullet{
				width:10px;
				height:10px;
				border-radius:5px;
				backgound-color:#666666;
			}
		}

		span.swiper-pagination-bullet{
			width: 14px;
			height: 14px;
			opacity: 1;
			background: #fff;
		}
		span.swiper-pagination-bullet-active{
			background: #007aff;
		}
	}

	// 自己写的轮播样式
	/* ul{
		height:560px;
		width:100%;
		position:relative;
		overflow:hidden;
		>li{
			position:absolute;
			top:0;
			left:1280px;
			&.first{
				left:0;
			}

			img{
				position:absolute;
				top:0;
				left:0;
				height:560px;
			}

			.btn{
				position:absolute;
				bottom:60px;
				left:65%;
			}
		}

		ol{
			position:absolute;
			width:100px;
			height:40px;
			bottom:34px;
			left:45%;
			z-index:10;
			display:flex;
			>li{
				margin-right:10px;
				margin-right:10px;
				cursor:pointer;
				i{
					color:#666666;
					font-size:35px;
					
				}
				&.white i{
					color:white !important;
				}
			}
		}
		} */
	}