@import "module/base.scss";
@import "module/header.scss";
@import "module/shopDis.scss";


.shopWrap{
	width:98%;
	margin:0 auto;

	//没有商品
	.noGoods{
		display:none;
		text-align:center;
		padding-top:50px;
		padding-bottom:80px;
		border-top:1px solid #c7c7c7;

		h5{
			font-size:24px; 
			font-weight:normal;
			margin-bottom:40px;
		}
		i{
			font-size:60px;
			color:#c7c7c7;
		}
	}

	//商品列表
	.shopList{
		padding-top:45px;
		>div{
			overflow:hidden;
			h5{
				float:left;
				height:80px;
				font-size:28px;
				padding-left:30px;
				line-height:80px;
			}
			p{
				float:right;
				margin-right:30px;
				margin-top:30px;
			}
		}
		
		table{
			width:100%;
			font-size:16px;
			color:#1d1d1d;
			table-layout:fiexed;
			border-collapse:collapse;
			thead{
				background-color:#eeeeee;
				text-align:center;
				tr{
					height:50px; 
					line-height:50px;
					th{
						input{
							margin-right:16px;
						}
						&:nth-child(1){
							width:5%;
							text-align: right;
						}
						&:nth-child(2){
							text-align: left;
						}
					}
				}
			}

			.checkBtn{
				display:inline-block;
				font-weight:normal;
				width:20px;
				height:20px;
				text-align:center;
				line-height:20px;
				border:1px solid #1d1d1d;
				margin-right:15px;
				i{
					font-size:24px;
					color:#1d1d1d;
					display:none;
					&.ischeck{
						display:inline;
					}
				}
			}
			tbody{
				color:#1d1d1d;
				tr{
					border-bottom:1px solid #eeeeee;
					width:100%;
					
					td{
						padding-top:30px;
						padding-bottom:20px;
						font-size:16px;
						height:120px;
						text-align:center;
						
						&:nth-child(1){
							width:5%;
							text-align: right;
							vertical-align:top;
							input{
								margin-right: 16px;
							}
						}
						//商品详情展示列
						&:nth-child(2){
							width:47%;
							margin-right:16px;
							text-align:left;
							vertical-align:top;

							img{
								width:100px;
								height:120px;
								margin-right:24px;
							}

							>div{
								vertical-align:top;
								display:inline-block;
								//商品名称
								>p{
									line-height:32px;
									margin-bottom:12px;
									a{
										color:#1d1d1d;
									}
								}
								.wrap{
									//选择框
									position:relative;
									width:380px;
									height:50px;
									.checkDiv{
										position:absolute;
										top:0;
										width:170px;
										font-size:14px;
										margin-right:10px;
										>p{
											position:absolute;
											top:0;
											left:0;
											z-index:-10;
											font-size:14px;
											line-height:32px;
										}

										ul{
											width:140px;
											display:none;
											border-top:1px solid #dcdcdc;
											border-left:1px solid #dcdcdc;
											border-right:1px solid #dcdcdc;

											li{
												width:100%;
												height:40px;
												display:none;
												line-height:40px;
												padding-left:10px;
												box-sizing:border-box;
												border-bottom:1px solid #dcdcdc;
												cursor:pointer;
												background-color:white;
												i{
													float:right;
													margin-right:5px;
													&.hidden{
														display:none;
													}
												}
												&.show{
													display:block !important;
												}
												.colorCon{
													display:inline-block;
													vertical-align:top;
													width:30px;
													height:20px;
													margin:10px 0;
													margin-right:10px;
													border:1px solid #1d1d1d;
												}
											}
										}
									}
									.colorCheck{
										left:0;
									}
									.sizeCheck{
										right:0;

										li{
											padding-left:30px !important;
										}
									}
								}
							}
						}

						&:nth-child(4){
							div{
								width:110px;
								height:40px;
								margin:auto;
								display:flex;
								align-items:center;
								span{
									display:none;
									width:32px;
									height:40;
									line-height:40px;
									text-align:center;
									border-left:1px solid #ababab;
									border-right:1px solid #ababab;
									cursor:pointer;
								}
								font{
									flex:1;
								}
							}
						}

						&:last-child{
							a{
								color:#1d1d1d;
								text-decoration:underline;
								display:block;
								margin-bottom:20px;

								&.okBtn{
									display:none;
									width:50px;
									height:30px;
									margin:auto;
									line-height:30px;
									text-decoration:none;
									text-align:center;
									color:white;
									background-color:black;
								}
							}
						}
						
						
					}

					//编辑状态下
					&.edit{
						//隐藏颜色，尺码内容
						.checkP{
							display:none;
						}

						//显示颜色，尺码选择
						.checkUl{
							display:block !important;
						}

						//显示数量选择
						.numcheck{
							border-bottom:1px solid #ababab;
							border-top:1px solid #ababab;
							span{
								display:inline-block !important;
							}
						}
						//显示确定按钮
						.okBtn{
							display:block !important;
						}
						//隐藏编辑按钮
						.editBtn{
							display:none;
						}

					}
				}
				
			}
		}

		.totalBox{
			height:150px;
			display:flex;
			align-items:center;
			div{
				&:nth-child(1){
					flex:1;
					height:100%;
					vertical-align:top;
					p{
						width:100%;
						
						text-align:right;
						font-size:16px;
						color:#4a4a4a;
						margin:0;
						margin-top:60px;
					}
				}
				&:nth-child(2){
					margin-left:40px;
					margin-right:50px;
					text-align:right;
					h5{
						display:block;
						text-align:center;
						font-size:24px;
						color:#1d1d1d;
					}
					p{
						font-size:12px;
						color:#7c7c7c;
						display:block;
					}
				}

				&:nth-child(3){
					a{
						display:block;
						width:386px;
						height:60px;
						line-height:60px;
						text-align:center;
						font-size:24px;
						font-weight:bold;
						color:white;
						background-color:#ea212e;
					}
				}
			}
		}
	}



	// 购物车下面与推荐商品之间的分隔线
	.lineBox{
		display:flex;
		height:60px;

		.center{
			display:flex;
			align-items:center;
			li{
				height:24px;
				line-height:24px;
				display:flex;
				padding:0 35px;

				a{
					display:inline-block;
					height:58px;
					line-height:58px;
					margin-top:-17px;
					color:#1d1d1d;
				}
				&:first-child a{
					
					border-bottom:4px solid #ea212e;
				}
				&:first-child{
					border-right:1px solid #c7c7c7;
				}
				

				&.ac{
					a{
						color:#ea212e;
					}
				}
				
			}
		}

		>div{
			flex:1;

			display:flex;
			align-items:center;
			p{
				width:100%;
				height:6px;
				background-color:#eeeeee;
			}
		}
	}
}