@import "module/base.scss";
@import "module/header.scss";
@import "module/footer.scss";

.lunbo{
	height:560px;
	width:100%;

	ul{
		width:100%;
		height:100%;
		position:relative;
		>li{
			position:absolute;
			top:0;
			left:0;
			overflow:hidden;
			img{
				height:560px;

			}
			.btn{
				position:absolute;
				bottom:60px;
				left:65%;
			}
		}

		ol{
			position:absolute;
			width:40px;
			height:20px;
			bottom:34px;
			left:45%;
			z-index:10;
			display:flex;
			li{
				width:10px;
				height:10px;
				border-radius:5px;
				margin-right:10px;
				cursor:pointer;
				&.white{
					background-color:white;
				}
				&.black{
					background-color:#666666;
				}
			}
		}
	}
}

.recommand{
	overflow:hidden;
	h4{
		font-size:36px;
		text-align:center;
		margin-top:65px;
		margin-bottom:40px;
	}


	div{
		display:flex;
		.leftBtn,.rightBtn{
			width:50px;
			line-height:290px;
		}

		.showWrap{
			flex:1;
			display:flex;
			justify-content:space-between;
			dl{
				width:23%;

				dt{//高度按照图片比例撑大
					a{
						display:block;
						width:85%;
						margin:0 auto;
						margin-bottom:10px;
						img{
							width:100%;
						}
					}
				}
				
				dd{
					text-align:center;
					font-size:18px;
					color:#1d1d1d;
					line-height:22px;
					margin-bottom:10px;
				}
				.blackBtn{
					opacity:0;
					width:50%;
					margin:20px auto;
				}
				&:hover .blackBtn{
					opacity:1;
				}

			}
		}
	}
}

.towmodo{
	width:100%;
	display:flex;

	dl{
		flex:1;

		dt{
			width:100%;
			//height:400px;
			overflow:hidden;
			img{
				width:100%;
			}
		}
		
		dd{
			text-align:center;

			&.bigName{
				font-size:26px;
				line-height:38px;
				color:nth($color,1);
				margin-top:20px;
			}
			&.smallName{
				font-size:14px;
				color:nth($color,1);
				margin-bottom:54px;
			}
		}
	}
}