@import "module/base.scss";
@import "module/header.scss";
@import "module/footer.scss";
@import "module/shopDis.scss";

.selectBox{
	padding: 40px 20px;
	padding-bottom:10px;
	h5{
		font-size:24px;
		color:nth(&color,1);
		padding:10px 0;
		font-weight:normal;
		span{
			margin-left:10px;
			font-size:16px;
			font-weight:normal;
			color:nth(&color,2);
		}
	}

	.pageNav{
		overflow:hidden;
		li{
			float:left;
			font-size:14px;
			color:#7c7c7c;
			a{
				color:#7c7c7c;
				padding:0 5px;
			}
		}
	}
	i{
		font-size:12px;
		color:#bfbfbf !important;
		margin-left:5px;
	}
	.labelBox{
		display:flex;
		// height:50px;
		align-item:center;
		color:#4c4c4c;
		margin-top:15px; 
		li{
			border:1px solid #cccccc;
			padding:5px 10px;
			font-size:12px;
			margin:10px 20px;
			margin-left:0;
			i{
				cursor:pointer;
			}

		}
		#clearAll{
			cursor:pointer;
		}
	}

	.shopNav{
		height:50px;
		padding-left:10px;
		font-size:14px;
		background-color:#eeeeee;
		
		li{
			float:left;
			height:50px;
			line-height:50px;
			margin-right:45px;
			color:#333333;
			cursor:pointer;
			
			i{

				margin-left:10px;
			}
			font{
				float:left;
				padding:5px;
				background-color:white;
				rotate:45deg;
			}
		}
	}

	.shopSelect{
		font-size:14px;
		color:#4c4c4c;
		display:none;
		ol{
			display:none;
			flex-wrap:wrap;
			width:100%;
			font-size:12px;
			border-top:1px solid #cccccc;
			border-bottom:1px solid #cccccc;
			li{
				padding:0 34px;
				height:28px;
				line-height:28px;
				margin:12px 15px;
				border:1px solid #bfbfbf;
				cursor:pointer;
				span{
					margin:0 5px;
				}
				a{
					color:#4c4c4c;
				}
			}
			&:nth-child(1){
				li{
					border:none;
				}
			}
			&:nth-child(4){
				li{
					height:28px;
					lin-height:28px;
					padding:0;
					margin:12px 15px;
					border:none;
					display:flex;
					justify-content:center;
					align-item:center;
					span{
						display:inline-block;
						width:80px;
						height:25px;
						margin-right:10px;
						background-color:red;
					}
				}
			}
		}
	}
}

